<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>E-Learning WebApp!</title>
</head>

<body>
    {% if top_list %}
    <h2 >List of Topics</h2>
    <ol>
        {% for top in top_list %}
        <li style="margin: 10px 50px;"><a href="{% url 'myapp:detail' top.id %}"> {{ top.name}} </a></li>
        {% endfor %}
    </ol>
    {% else %}
    <strong>There are no available topics!</strong>
    {% endif %}

    {% if course_list %}
    <h2 style="margin: 50px 50px 10px;">List of Courses</h2>
    <ol>
        {% for course in course_list %}
        {% if course.for_everyone == True %}
        <li style="margin: 10px 50px;"> {{ course.name }} --- This Course is For Everyone! </li>
        {% else %}
        <li style="margin: 10px 50px;"> {{ course.name }} --- This Course is Not For Everyone! </li>
        {% endif%}
        {% endfor %}
    </ol>
    {% else %}
    <strong>There are no available topics!</strong>
    {% endif %}

    <h3 style="margin: 50px 50px 10px;"><a href="{% url 'myapp:about' %}">About page</a></h3>


</body>

</html>